<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Pagina Principală</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="DollItUp, păpușă, păpuși">
        <meta name="description" content="Magazin online dedicat vânzării produselor precumȘ păpuși și accesorii pentru acestea.">
        <meta name="author" content="Vraciu Mara Alina">
        <meta name="msapplication-TileColor" content="#FFC0CB">

        <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css" />
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <div class="grid-pagina">
                <div class="zona1">
                    <section id="home_page">
                        <h2>HOME PAGE</h2>
                        <figure id="fig-inceput">
                            <picture>
                                <source srcset="resurse/imagini/photoM.jpeg" media="(max-width: 800px)">
                                <source srcset="resurse/imagini/photoT.jpeg" media="(max-width: 1024px)">
                                <source srcset="resurse/imagini/photoD.jpeg" media="(max-width: 2000px)">
                                <img src="resurse/imagini/photoD.jpeg">
                            </picture>
                            <figcaption style="text-align: center">Universul <b>păpușilor</b></figcaption>
                        </figure>
                        <p>Bine ai venit la <b>DollItUp</b>. Ești pregătit să intri în <em>universul <b>păpușilor</b></em>? Descarcă lista asocierii liniilor de cod cu <i>task-urile</i> proiectului <a href="resurse/documente/task.txt" download>aici</a>.</p>
                        <section id="despre_noi">
                            <h3>Depre noi</h3>
                            <p>Am deschis primul nostru magazin <b>DollItUp</b> în data de 01.03.2025, în București. De atunci, facem copiii și colecționarii fericiți cu <b>păpușile</b> noastre.</p>
                            <p>Pentru a ne contacta, puteți apela la numărul de telefon <strong>+40700000000</strong> sau pe adresa de e-mail <strong>dollitup@gmail.ro</strong>.</p>
                            <p>Pe acest magazin <i>online</i>, puteți descoperi diferite <b>păpuși</b> pentru diferite ocazii. <b>DollItUp</b> vă pune la dispoziție produse pentru cadouri sau propria plăcere. Aveți opțiunea de a cumpăra <b>păpuși</b> și orice fel de accesorii ați putea căuta; de la căsuțe decorative până la îmbrăcăminte și încălțăminte. De asemenea, vă oferim diferite sfaturi legate de îngrijirea <b>păpușilor</b> pentru a vă putea bucura de acestea pentru un timp cât mai îndelungat și pentru încurajarea salvării mediului înconjurător. Cu cât păstrați mai mult prietenii dvs., cu atât va fi produs mai puțin plastic.</p>
                        </section>
                        <section id="unde_suntem">
                            <h3>Unde ne găsiți  <i class="fa-solid fa-question fa-spin"></i></h3>
                            <p>La Facultatea de Matematică și Informatică, București.</p>
                            <iframe name="ifr-map" width="560" height="315" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.6011901050256!2d26.097011815612604!3d44.435535579102975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1685293243942!5m2!1sen!2sro" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </section>
                        <section id="faq">
                            <h3>FAQ  <i class="fa-solid fa-question fa-spin"></i></h3>
                            <details><summary>În ce orașe livrați?</summary>
                            București, Constanța, Brașov, Cluj-Napoca.</details>

                            <details><summary>Cât timp durează livrarea?</summary>
                            Între 14-21 zile lucrătoare</details>
    
                            <details><summary>Cum returnez o achiziție?</summary>
                            Ne puteți contacta pe numărul de telefon <strong>+40700000000</strong> sau la adresa de mail <strong>dollitup@gmail.ro</strong> pentru mai multe detalii.</details>
    
                            <details><summary>Cumpărați <b>păpuși</b>?</summary>
                            Din păcate, nu. Puteți accesa magazine specializate în licitații.</details>

                            <details><summary>Care este regulamentul pentru ca o <b>păpușă</b> să poată fi returnată?</summary>
                            <embed src="resurse/documente/Regulament.pdf" type="application/pdf" width="900" height="600"></details>
                        </section>
                    </section>
                </div>
                <div class="zona8">
                    <section id="cumpara">
                        <h2>CUMPĂRĂ</h2>
                        <p>Pe pagina noastră, puteți găsi păpuși de la diferite <i>brand-uri</i>, însă cu prețuri mai bune. Dacă nu găsiți o păpușă căutată, puteți verifica si pe <i>site-urile</i> oficiale. Trebuie doar să verificați ce marcă a produs păpușa, iar apoi, accesați <i>site-ul</i> care se potrivește dorințelor dvs. Păpușile <b>Bratz</b> au un <i>site</i> oficial : <a href="https://www.bratz.com/" target="_blank">aici</a>, însă <b>Barbie</b> și <b>MonsterHigh</b> pot fi găsite pe <i>site-ul</i> nostru partener : <a href="https://shop.mattel.com/" target="_blank">aici</a></p>
                        <section id="papusi">
                            <h3>PĂPUȘI</h3>
                            <section id="0-2_ani">
                                <h4>Vârsta 0-2 ani</h4>
                                <p>Aici vor fi vândute păpuși <b>Barbie</b>.</p>
                            </section>
                            <section id="3-5_ani">
                                <h4>Vârsta 3-5 ani</h4>
                                <p>Aici vor fi vândute păpuși <b>Barbie</b>.</p>
                            </section>
                            <section id="6-10_ani">
                                <h4>Vârsta 6-10 ani</h4>
                                <p>Aici vor fi vândute păpuși <b>MonsterHigh</b>.</p>
                            </section>
                            <section id="10-14_ani">
                                <h4>Vârsta 10-14 ani</h4>
                                <p>Aici vor fi vândute păpuși <b>Bratz</b>.</p>
                            </section>
                            <section id="colectie">
                                <h4>Păpuși de colecție</h4>
                                <p>Aici vor fi vândute păpuși <b>Barbie</b>, <b>MonsterHigh</b> și <b>Bratz</b>.</p>
                            </section>
                        </section>
                        <section id="accesorii">
                            <h3>ACCESORII</h3>
                            <section id="haine">
                                <h4>Haine</h4>
                                <p>Aici vor fi vândute haine pentru păpuși <b>Barbie</b>, <b>MonsterHigh</b> și <b>Bratz</b>.</p>
                            </section>
                            <section id="incaltaminte">
                                <h4>Încălțăminte</h4>
                                <p>Aici va fi vândută încălțăminte pentru păpuși <b>Barbie</b>, <b>MonsterHigh</b> și <b>Bratz</b>.</p>
                            </section>
                            <section id="case_de_papusi">
                                <h4>Case de păpuși</h4>
                                <p>Aici vor fi vândute căsuțe pentru păpuși <b>Barbie</b>, <b>MonsterHigh</b> și <b>Bratz</b>.</p>
                            </section>
                        </section>
                    </section>
                    <section id="promotii">
                        <h2>PROMOȚII</h2>
                        <p>Aici vor apărea <b>cadouri</b>, <b>promoții</b> și <b>reduceri</b></p>
                        <p>Pentru calclul <b>reducerii</b> se va folosi următoarea formulă:</p>
                        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
                            <mspace width="0.5em"/>
                            <mrow>
                                <mi>FINAL</mi>
                                <mo>=</mo>
                                <mi>TOTAL</mi>
                                <mo>-</mo>
                                <mi>PROCENT</mi>
                                <mo>x</mo>
                                <mi>TOTAL</mi>
                            </mrow>
                        </math>
                    </section>
                </div>
                <div class="zona3">CALENDARUL EVENIMENTELOR
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vitae quos quam! Ratione exercitationem harum perferendis labore nobis nisi! Consequuntur aperiam similique repudiandae minus suscipit tempore dolorum aliquam alias quis!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, deleniti aut eveniet nemo dignissimos neque ipsam ipsa adipisci commodi. Maiores vero dolore aliquam, quo dignissimos aliquid dolorem eos deleniti neque!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dolorum omnis magnam ad quo suscipit maiores commodi accusamus. Alias aliquid, nisi facilis totam eaque minima reprehenderit molestiae fugit rem ut!</p>
                </div>
                <div class="zona2">
                    <table>
                        <table>
                            <caption colspan="5">Lista categoriilor de păpuși</caption>
                            <thead>
                                <tr>
                                    <th>Categorie</th>
                                    <th colspan="2">Material</th>
                                    <th>Număr produse</th>
                                    <th>Vizualizare</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Păpuși 0-2 ani</td>
                                    <td rowspan="2" colspan="2">Realizate din pluș</td> 
                                    <td>10</td>
                                    <td><a href="#0-2_ani">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Păpuși 3-5 ani</td>
                                    <td>8</td>
                                    <td><a href="#3-5_ani">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Păpuși 6-10 ani</td>
                                    <td rowspan="2" colspan="2">Realizate din plastic</td>
                                    <td>10</td>
                                    <td><a href="#6-10_ani">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Păpuși 10-14 ani</td>
                                    <td>10</td>
                                    <td><a href="#10-14_ani">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Păpuși de colecție</td>
                                    <td>Realizate din pluș</td>
                                    <td>Realizate din plastic</td>
                                    <td>6</td>
                                    <td><a href="#colectie">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Haine</td>
                                    <td colspan="2">Realizate din material textil</td>
                                    <td>6</td>
                                    <td><a href="#haine">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Încălțăminte</td>
                                    <td rowspan="2" colspan="2">Realizate din plastic</td>
                                    <td>10</td>
                                    <td><a href="#incaltaminte">Aici</a></td>
                                </tr>
                                <tr>
                                    <td>Case de păpuși</td>
                                    <td>4</td>
                                    <td><a href="#case_de_papusi">Aici</a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">In total 64 tipuri de produse.</td>
                                </tr>
                            </tfoot>
                        </table>                        
                    </table>
                </div>
                <div class="zona4">ANUNȚURI IMPORTANTE
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vitae quos quam! Ratione exercitationem harum perferendis labore nobis nisi! Consequuntur aperiam similique repudiandae minus suscipit tempore dolorum aliquam alias quis!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, deleniti aut eveniet nemo dignissimos neque ipsam ipsa adipisci commodi. Maiores vero dolore aliquam, quo dignissimos aliquid dolorem eos deleniti neque!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dolorum omnis magnam ad quo suscipit maiores commodi accusamus. Alias aliquid, nisi facilis totam eaque minima reprehenderit molestiae fugit rem ut!</p>
                </div>
                <div class="zona5">UTILIZATORI ONLINE
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vitae quos quam! Ratione exercitationem harum perferendis labore nobis nisi! Consequuntur aperiam similique repudiandae minus suscipit tempore dolorum aliquam alias quis!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, deleniti aut eveniet nemo dignissimos neque ipsam ipsa adipisci commodi. Maiores vero dolore aliquam, quo dignissimos aliquid dolorem eos deleniti neque!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dolorum omnis magnam ad quo suscipit maiores commodi accusamus. Alias aliquid, nisi facilis totam eaque minima reprehenderit molestiae fugit rem ut!</p>
                </div>
                <div class="zona6">DESPRE UTILIZATOR
                    <div class="date-utilizator">
                        IP-ul tău este: <%= ip_utilizator %>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vitae quos quam! Ratione exercitationem harum perferendis labore nobis nisi! Consequuntur aperiam similique repudiandae minus suscipit tempore dolorum aliquam alias quis!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, deleniti aut eveniet nemo dignissimos neque ipsam ipsa adipisci commodi. Maiores vero dolore aliquam, quo dignissimos aliquid dolorem eos deleniti neque!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dolorum omnis magnam ad quo suscipit maiores commodi accusamus. Alias aliquid, nisi facilis totam eaque minima reprehenderit molestiae fugit rem ut!</p>
                </div>
                <div class="zona7">DESPRE SITE
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vitae quos quam! Ratione exercitationem harum perferendis labore nobis nisi! Consequuntur aperiam similique repudiandae minus suscipit tempore dolorum aliquam alias quis!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, deleniti aut eveniet nemo dignissimos neque ipsam ipsa adipisci commodi. Maiores vero dolore aliquam, quo dignissimos aliquid dolorem eos deleniti neque!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dolorum omnis magnam ad quo suscipit maiores commodi accusamus. Alias aliquid, nisi facilis totam eaque minima reprehenderit molestiae fugit rem ut!</p>
                </div>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>