:root {
  /*link*/
  --culoare-vizitat: #B366E9;
  --culoare-hover: #b3478f;
  /*general*/
  --culoare1: #D96498;
  --culoare2: #C4A7B3;
  --culoare3: #402F37;
  --culoare4: #573851;
  --culoare5: white;
  --culoare6: black;
  --culoare7: #B366E9;
  --culoare8: #FFB6C1;
  --culoare9: #A67085;
  --culoare10: #FFD9E1;
  --culoare11: #E58AB2;
  --culoare12: rgba(0, 0, 0, 0.7);
  --culoare13: #2A1B24;
  /*nav*/
  --culoare-deschisa: #E58AB2;
  --culoare-background: #573851;
  /*produse*/
  --text-color: #000000;
  --card-bg: #f5f5f5;
  /*video*/
  --c1: #FFD9E1;
  --c2: #573851;
}

[data-theme=dark] {
  /*link*/
  --culoare-vizitat: #B366E9;
  --culoare-hover: #b3478f;
  /*general*/
  --culoare1: #D96498;
  --culoare2: #A67085;
  --culoare3: #FFD9E1;
  --culoare4: #E58AB2;
  --culoare5: black;
  --culoare6: white;
  --culoare7: #B366E9;
  --culoare8: #2A1B24;
  --culoare9: #C4A7B3;
  --culoare10: #402F37;
  --culoare11: #573851;
  --culoare12: rgba(0, 0, 0, 0.7);
  --culoare13: #FFB6C1;
  /*nav*/
  --culoare-deschisa: #573851;
  --culoare-background: #E58AB2;
  /*produse*/
  --text-color: #f0f0f0;
  --card-bg: #1e1e1e;
  /*video*/
  --c1: #573851;
  --c2: #FFD9E1;
}

[data-theme=pastel] {
  /* link */
  --culoare-vizitat: #ffb3c6;
  --culoare-hover: #ff99b1;
  /* general */
  --culoare1: #f7a1b0;
  --culoare2: #f6d1cd;
  --culoare3: #6b4c4c;
  --culoare4: #c57f87;
  --culoare5: #fff5f8;
  --culoare6: #4b3832;
  --culoare7: #f4978e;
  --culoare8: #ffe1e6;
  --culoare9: #a56a6a;
  --culoare10: #fce9ec;
  --culoare11: #f5b7b1;
  --culoare12: rgba(107, 76, 76, 0.7);
  --culoare13: #b58484;
  /* nav */
  --culoare-deschisa: #f5b7b1;
  --culoare-background: #fce9ec;
  /* produse */
  --text-color: #4b3832;
  --card-bg: #fff5f8;
  /* video */
  --c1: #fce9ec;
  --c2: #c57f87;
}