body{
    height: 100vh;
    background-image: url("../imagini/background/poza1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 2s ease-in-out;
}

p, details {
    color: var(--culoare6);
}

header{
    background-color: var(--culoare2);
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--culoare12);
    padding: var(--spatiere-pagina);
}

footer{
    background-color: var(--culoare2);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px var(--culoare12);
    padding: var(--spatiere-pagina);
}

main{
    padding: var(--spatiere-pagina);
    background-color: var(--culoare10);
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px var(--culoare12);
}   

html {
    padding: 40px;
    font-size: 18px;
    transition: font-size 0.5s ease-in;
}

h1, h2{
    text-align: center; 
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--culoare1)
}

::selection {
    background-color: var(--culoare13);
    color: var(--culoare4);
}  

a{
    text-decoration: none;
}

.container-zona8 {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 50px;
}
  
h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
    position: relative;
}

h4 {
    text-align: center;
}
  
h2::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #b73e7c;
    opacity: 0.4;
    transform: scaleY(-1) skewX(-5deg);
    transform-origin: top;
    filter: url(#wave);
    transition: filter 1s ease;
    line-height: 1;
    margin-top: 20px;
}
  
.container-zona8:hover h2::after {
    animation: waveMove 4s infinite ease-in-out;
}
  
@keyframes waveMove {
    0% { filter: url(#wave); }
    50% { filter: url(#wave-animated); }
    100% { filter: url(#wave); }
}

.coloana {
    column-count: 2;
    column-gap: 10px;
    column-rule: 1px solid var(--culoare6);

}

.taburi-iframe > a {
    display: block;
    text-align: right;
    padding-right: 10px;
    width: 80px;
    height: 40px;
    border: 1px solid var(--culoare3);
    background-color: var(--culoare11);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

#banner {
    display: none;
}

#watermark {
    display: none;
}

.taburi-iframe > a:hover {
    transform: scaleX(1.2);     
}

.taburi-iframe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.container-iframe{
    width: 100%;
    max-width: 650px;
    min-width: 350px;
    display: flex;
    flex-direction: row-reverse;
}

.container-iframe>iframe{
    width:100%;
}

iframe {
    border: 5px solid;
    border-top-color: var(--culoare1);
    border-left-color: var(--culoare1);
    border-right-color: var(--culoare4);
    border-bottom-color: var(--culoare4);
}

.fig-inceput {
    text-align: center; 
}

table {
    border-collapse: collapse;
    border: 5px double var(--culoare6);
    min-width: 600;
    max-width: 650;
}

.zona2 {
    width: 100%;
    overflow-x: auto;
    padding: 10px;
}

caption{
    caption-side: bottom;
    font-weight: bold;
}

th, td {
    border: 1px solid var(--culoare6);
    padding: 8px;
    text-align: center;
    transition: background-color 0.75s, color 0.75s, border 0.75s;
}

tr:hover td {
    background-color: var(--culoare4);
    color: var(--culoare1);
    border: 5px solid var(--culoare6);
}

td>a{
    text-decoration: none;
}

td:nth-child(odd) {
    color: var(--culoare6);
}

td:nth-child(even) {
    color: var(--culoare5);
}

math {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    color: #333;
    display: block;
    text-align: center;
    margin: 20px auto;
}

mi {
    color: var(--culoare1);
    font-style: italic;
    font-weight: bold;
}

mo {
    color: var(--culoare7);
    font-size: 22px;
    font-weight: bold;
    padding: 0 5px;
}

mspace {
    margin-right: 0.5em;
}

#link-top {
    position: fixed;
    bottom: 0.3em;
    right: 0.3em;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    opacity:0.5;
    border: 5px solid var(--culoare11);
    border-top-color: var(--culoare4);
    border-bottom-color: var(--culoare4);
    border-radius: 50%;
    background: var(--culoare5);
    transition: transform 0.5s ease, border-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#link-top:hover {
    opacity: 1;
    transform: rotate(360deg);
    border-top-color: var(--culoare11);
    border-bottom-color: var(--culoare11);
    border-left-color: var(--culoare4);
    border-right-color: var(--culoare4);
}

#sageata {
    font-size: 2rem;
    color: grey;
    filter: blur(4px);
    margin-left: 1.5rem;
    bottom: 0;
    transform: translateX(-50%);
    transition: filter 0.5s ease, text-shadow 0.5s ease;
}

#sageata .dreptunghi {
    width: 0.4rem;
    height: 2rem;
    background-color: var(--culoare7);
    margin-top: -0.5rem;
    margin-left: 0.2rem;
}

#sageata .triunghi {
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.9rem solid var(--culoare7);
    margin-top: -2.8rem;
    margin-left: -0.3rem;
}

#link-top:hover #sageata {
    filter: blur(0);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:2000px) {
    body{
        --spatiere-pagina:80px;
    }    
}

@media screen and (max-width:1024px) {
    body{
        --spatiere-pagina:70px;
    }  
    html{
        font-size: 16px;
    }  
    table{
        min-width: 400px;
    }
    .coloana{
        column-count: 1;
    }
}

@media screen and (max-width:800px) {
    body{
        --spatiere-pagina:15px;
    }
    html{
        font-size: 14px;
    }
    table{
        min-width: 500px;
    }
}