.grid-pagina {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: "zona1 zona1 zona1"
                         "zona8 zona8 zona8" 
                         "zona3 zona2 zona4"
                         "zona5 zona6 zona7";
    gap: 40px;
}

.grid-pagina > *{
    padding: 10px;
    grid-area:auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--culoare12);
}

.zona1 {
    grid-area: zona1;
    background-color: var(--culoare11);
}

.zona8 {
    grid-area: zona8;
    background-color: var(--culoare8);
}

.zona3 {
    grid-area: zona3;
    background-color: var(--culoare7);
    max-width: 200px;
}

.zona2 {
    grid-area: zona2;
    background-color: var(--culoare1);
}

.zona4 {
    grid-area: zona4;
    background-color: var(--culoare8);
}

.zona5 {
    grid-area: zona5;
    background-color: var(--culoare7);
    max-width: 200px;
}

.zona6 {
    grid-area: zona6;
    background-color: var(--culoare1);
}

.zona7 {
    grid-area: zona7;
    background-color: var(--culoare8);
}

@media screen and (max-width:1024px) {
    body{
        --spatiere-pagina:70px;
    }  
    html{
        font-size: 16px;
    }  
    .grid-pagina{
        grid-template-columns: 1fr 1fr; 
        grid-template-areas: "zona1 zona1"
                             "zona8 zona8"
                             "zona3 zona2" 
                             "zona4 zona5"
                             "zona6 zona7";   
        gap: 30px;
    }
    .zona3{
        max-width: 250px;
    }
    .zona4{
        max-width: 250px;
    }
    .zona6{
        max-width: 250px;
    }
    .zona5{
        max-width: none;
    }
    .zona2{
        overflow-x: auto;
    }
}

@media screen and (max-width:800px) {
    .grid-pagina > *{
        min-width: 300px;
        max-width: 600px;
    }
    .grid-pagina{
        grid-template-columns: 1fr; 
        grid-template-areas: "zona1"
                             "zona8"
                             "zona3"
                             "zona2" 
                             "zona4" 
                             "zona5"
                             "zona6" 
                             "zona7";   
        gap: 10px;
    }
    .zona2{
        overflow-x: auto;
    }

}